@page "/postedit"
@page "/postedit/{PostId}"

@if (!Saved)
{
    <section class="post-edit">
        <h1 class="page-title">Details for @PostDto.Title</h1>
        <EditForm Model="@PostDto" OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary></ValidationSummary>
            <div class="form-group row">
                <label for="title" class="col-sm-3">Title: </label>
                <InputText id="title" class="form-control col-sm-8" @bind-Value="@PostDto.Title" placeholder="Enter title"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => PostDto.Title)" />
            </div>

            <div class="form-group row">
                <label for="description" class="col-sm-3">Description: </label>
                <InputText id="description" class="form-control col-sm-8" @bind-Value="@PostDto.Description" placeholder="Enter description"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => PostDto.Description)" />
            </div>

            <div class="form-group row">
                <label for="categoryId" class="col-sm-3">Category: </label>
                <InputSelect id="categorCategoryIdyDto" class="form-control col-sm-8" @bind-Value="@CategoryId">
                    @foreach (var categoryDto in CategoryDtos)
                    {
                        <option value="@categoryDto.Id">@categoryDto.FullName</option>
                    }
                </InputSelect>
            </div>

            <div class="form-group row">
                <MudSelect T="TagDto" Label="Tags" MultiSelection="true" ToStringFunc="(tag) => tag.Description" @bind-SelectedValues="SelectedTagDtos">
                    @foreach (var tagDto in TagDtos)
                    {
                        <MudSelectItem T="TagDto" Value="@tagDto">@tagDto.Description</MudSelectItem>
                    }
                </MudSelect>
            </div>      

            <button type="submit" class="btn btn-primary edit-btn">Save post</button>

            @if (PostDto.Id > Guid.Empty)
            {
                <a class="btn btn-danger" @onclick="@DeletePost">
                    Delete
                </a>
            }
            <MudButton Variant="Variant.Filled">Default</MudButton>
            <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>
        </EditForm>
    </section>
}
else
{
    <div class="alert @StatusClass">@Message</div>
}