@page "/tagoverview"

<h1 class="page-title">All tags</h1>

@if (TagDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Description</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tagDto in TagDtos)
            {
                <tr>
                    <td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{tagDto.Id}-small.jpg")" class="rounded-circle" /></td>
                    <td>@tagDto.Description</td>
                    <td>
                        <a href="@($"tagdetail/{tagDto.Id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="@($"tagedit/{tagDto.Id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                        <MudIcon Icon="@Icons.Material.Filled.Delete" Title="Delete" Color="Color.Primary" @onclick="@(() => {DeleteTagAsync(tagDto.Id);})"></MudIcon>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<button @onclick="QuickAddTag" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>
<AddTagDialog @ref="AddTagDialog" CloseEventCallBack="@AddTagDialog_OnDialogClose"></AddTagDialog>

