<MudDialog>
    <DialogContent>
        <EditForm Model="@CategoryDto" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div>
                <MudTextField Label="FullName" @bind-Value="@CategoryDto.FullName"
                              For="@(() => CategoryDto.FullName)"></MudTextField>
            </div>

        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="HandleValidSubmit">Ok</MudButton>
    </DialogActions>
</MudDialog>