<MudDialog>
    <DialogContent>
        <EditForm Model="@PostDto" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group row">
                <MudTextField Label="Title" @bind-Value="@PostDto.Title"
                              For="@(() => PostDto.Title)"></MudTextField>
            </div>

            <div class="form-group row">
                <MudTextField Label="Description" @bind-Value="@PostDto.Description"
                              For="@(() => PostDto.Description)"></MudTextField>
            </div>

            <div>
                <MudSelect T="CategoryDto" Label="Category" ToStringFunc="(categoryDto) => categoryDto.FullName " @bind-Value=Category>
                    @foreach (var categoryDto in CategoryDtos)
                    {
                        <MudSelectItem T="CategoryDto" Value="categoryDto">@categoryDto.FullName</MudSelectItem>
                    }
                </MudSelect>
            </div>

            <div class="form-group row">
                <MudSelect T="TagDto" Label="Tags" MultiSelection="true" ToStringFunc="(tag) => tag.Description" @bind-SelectedValues="SelectedTagDtos">
                    @foreach (var tagDto in TagDtos)
                    {
                        <MudSelectItem T="TagDto" Value="@tagDto">@tagDto.Description</MudSelectItem>
                    }
                </MudSelect>
            </div>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="HandleValidSubmit">Ok</MudButton>
    </DialogActions>
</MudDialog>