<MudDialog>
    <DialogContent>
        <EditForm Model="@PostDto" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="d-flex justify-center mt-6">
                <h3>Create a Culinary Post</h3>
            </div>
            <MudCard Class="d-flex justify-center">

                <MudCardContent>
                    <MudTextField Label="Title" Class="mt-2"
                                  @bind-Value="@PostDto.Title" For="@(() => PostDto.Title)"></MudTextField>

                    <MudTextField Label="Description" Class="mt-2"
                                  @bind-Value="@PostDto.Description" For="@(() => PostDto.Description)"></MudTextField>

                    <MudSelect T="CategoryDto" Label="Category" Class="mt-2" ToStringFunc="(categoryDto) => categoryDto.FullName " @bind-Value=Category>
                        @foreach (var categoryDto in CategoryDtos)
                        {
                            <MudSelectItem T="CategoryDto" Value="categoryDto">@categoryDto.FullName</MudSelectItem>
                        }
                    </MudSelect>

                    <MudSelect T="TagDto" Label="Tags" Class="mt-2" MultiSelection="true" ToStringFunc="(tag) => tag.Description" @bind-SelectedValues="SelectedTagDtos">
                        @foreach (var tagDto in TagDtos)
                        {
                            <MudSelectItem T="TagDto" Value="@tagDto">@tagDto.Description</MudSelectItem>
                        }
                    </MudSelect>

                </MudCardContent>

            </MudCard>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="HandleValidSubmit">Ok</MudButton>
    </DialogActions>
</MudDialog>
}